@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|Shadows+Into+Light');

body{
    line-height: 1;
    font-family: 'Shadows Into Light';
    background-color: #FFFFF0;
}
h1 {
  color: red;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 40px 0 0 0;
}
h2 {
  color: blue;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}
p {
  font-size: 16px;
  font-family: 'PT Sans Caption';
  text-align: justify;
  line-height: 1.2;
  padding: 8px;
}
#content {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
#container {
  width: 250px;
  margin: 10px auto;
}
#win {
  font-size: 26px;
  text-align: center;
  padding: 0 0 12px 0;
  height: 30px;
}

#drop {
  line-height: 0;
  background-color: blue;
  padding: 5px;
}
#board {
  line-height: 0;
  background-color: #FFD700;
  padding: 5px;
}
/*https://stackoverflow.com/questions/8286550/transparent-hollow-or-cut-out-circle*/
.dropRow, .boxes{
    position:relative;
    width:34px; height:34px;
    margin:0;
    overflow:hidden;
    display:  inline-block;
    padding: 0px;
    background-color: white;
}
/*background of the drop box*/
.dropRow:after, .boxes:after {
    content:'';
    position:absolute;
    left:2px; top:2px;
    border-radius:100%;
    width:30px; height:30px;
    box-shadow: 0px 0px 0px 2000px #FFD700;
}
.dropRow:after {
    box-shadow: 0px 0px 0px 2000px blue;
}

.player1 {
  background: black;
}

.player2 {
  background: red;
}

.player2win {
  color: red;
}


