#container {
  /*width: 400px;*/
}

/*https://stackoverflow.com/questions/8286550/transparent-hollow-or-cut-out-circle*/
.dropRow, .boxes{
    position:relative;
    width:34px; height:34px;
    margin:0;
    overflow:hidden;
    display:  inline-block;
    padding: 0px;
}
/*background of the drop box*/
.dropRow:after, .boxes:after {
    content:'';
    position:absolute;
    left:2px; top:2px;
    border-radius:100%;
    width:30px; height:30px;
    box-shadow: 0px 0px 0px 2000px #FFD700;
}
.dropRow:after {
    box-shadow: 0px 0px 0px 2000px blue;
}

.player1 {
  background: red;
}

.player2 {
  background: black;
}
